
@media screen and (max-width: 1100px) {
    header {
        padding: 0;
        .right-header {
            margin: 6rem 3rem;
            width: 100%;
        }
        .right-header {
            grid-row: 1;
            padding: 3rem;
            .name {
                font-size: 2.2rem !important;
            }
        }
        .header-content {
            grid-template-columns: 1fr;
            padding-bottom: 6rem;
            height: 100%;
        }
        .left-header {
            .h-shape {
                display: none;
            }
        }
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 50%;
        height: 80%;
        padding-right: 0;
    }

    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about {
            padding-right: 0;
            p {
                padding-left: 0;
            }
        }
    }

    .about-stats {
        padding: 1rem 2rem;
        padding-bottom: 2rem;
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }

    .portfolios{
        grid-template-columns: 1fr 1fr;
        padding: 6rem .5rem;
    }
}

@media screen and (max-width: 1200px) {
    .contact-content-con {
        flex-direction: column;
        padding: 6rem .5rem;
        .right-contact {
            padding: .5rem .5rem;
            margin: .1rem;
            .input-control {
                margin: .5rem 0;
                input, textarea {
                    border-radius: 15px;
                    padding: .5rem .9rem;
                }
            }
            .i-c-2 {
                display: flex;
                flex-direction: column;
                :last-child {
                    margin-left: 0rem;
                    margin-top: .5rem;
                }
            }
        }
        .left-contact {
            .contact-info {
                .contact-item {
                    margin-top: 1rem;
                }
            }
        }
    }
    .timeline {
        grid-template-columns: 1fr;
        padding: 1rem 2rem;
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 690px){
    body {
        font-size: 1rem;
    }

    header {
        padding: 0;
    }
    header .right-header {
        padding: .5rem !important;
        margin: 0;
    }
    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
        height: 100%;
    }

    .left-header {
        .h-shape {
            display: none;
        }
    }


    .right-header {
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name {
            font-size: 2.2rem !important;
        }
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 90%;
        height: 90%;
        padding-right: 0;
    }

    .main-title {
        h2 {
            font-size: 2.2rem;
            font-weight: 500;
            margin-top: 3rem;
            .bg-text {
                display: none;
            }
        }
    }

    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about {
            padding-right: 0;
            p {
                padding-left: 0;
            }
        }
    }

    .about-stats {
        padding: 1rem 2rem;
        padding-bottom: 2rem;
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }

    .portfolios{
        grid-template-columns: 1fr;
        padding: 6rem .5rem;
    }

    .blogs {
        grid-template-columns: 1fr;
        padding: 6rem 1rem;
    }

    .contact-content-con {
        flex-direction: column;
        padding: 6rem .5rem;
        .right-contact {
            padding: .5rem .5rem;
            margin: .1rem;
            .input-control {
                margin: .5rem 0;
                input, textarea {
                    border-radius: 15px;
                    padding: .5rem .9rem;
                }
            }
            .i-c-2 {
                display: flex;
                flex-direction: column;
                :last-child {
                    margin-left: 0rem;
                    margin-top: .5rem;
                }
            }
        }
        .left-contact {
            .contact-info {
                .contact-item {
                    flex-direction: column;
                    margin-top: 1rem;
                }
            }
        }
    }

    .section{
        padding: .5rem .5rem !important;
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: initial;
        justify-content: space-around;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-4);
        .control {
            margin: 1rem .3rem;
            width: 40px;
            height: 40px;
        }
    }
}